/* font-ign - v.1.0.0 
 * IGN icon font set
 * 2023 (c) IGNF - OFL-1.1
 * https://github.com/IGNF-Ma-carte/font-ign
 */
@font-face {
  font-family: "font-ign";
  src: url('./fonts/font-ign.eot?t=1696318665476');
  src: url('./fonts/font-ign.eot?#iefix') format('eot'),
    url('./fonts/font-ign.woff2?t=1696318665476') format('woff2'),
    url('./fonts/font-ign.woff?t=1696318665476') format('woff'),
    url('./fonts/font-ign.ttf?t=1696318665476') format('truetype'),
    url('./fonts/font-ign.svg#font-ign') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-ign {
  width: 1em;
  height: 1em;
}

[class^="fi-"]:before, [class*="fi-"]:before {
  font-family: "font-ign";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fi-"] {
  display: inline-block;
}
.fi-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fi-2x { font-size: 2em; }
.fi-3x { font-size: 3em; }
.fi-4x { font-size: 4em; }
.fi-5x { font-size: 5em; }
.fi-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.fi-rotate10 {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.fi-rotate-10 {
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.fi-rotate20 {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.fi-rotate-20 {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.fi-rotate45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fi-rotate90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fi-rotate135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.fi-rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fi-rotate225 {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.fi-rotate270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fi-rotate315 {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.fi-fliph {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fi-flipv {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.fi-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.fi-stack [class^="fi-"] {
  position: absolute;
}

.fi-spin {
  -webkit-animation: fi-spin 2s infinite linear;
  animation: fi-spin 2s infinite linear;
}
.fi-pulse {
  -webkit-animation: fi-spin 1s infinite steps(8);
  animation: fi-spin 1s infinite steps(8);
}

@-webkit-keyframes fi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fi-access:before { content: "\e900"; }
.fi-external-link:before { content: "\e901"; }
.fi-close:before { content: "\e902"; }
.fi-plus:before { content: "\e903"; }
.fi-minus:before { content: "\e904"; }
.fi-check:before { content: "\e905"; }
.fi-angle-up:before { content: "\e906"; }
.fi-angle-right:before { content: "\e907"; }
.fi-angle-down:before { content: "\e908"; }
.fi-angle-left:before { content: "\e909"; }
.fi-download:before { content: "\e90a"; }
.fi-ecosystem:before { content: "\e90b"; }
.fi-facebook:before { content: "\e90c"; }
.fi-twitter:before { content: "\e90d"; }
.fi-instagram:before { content: "\e90e"; }
.fi-linkedin:before { content: "\e90f"; }
.fi-double-angle-left:before { content: "\e910"; }
.fi-clock:before { content: "\e911"; }
.fi-timer:before { content: "\e912"; }
.fi-location:before { content: "\e913"; }
.fi-search:before { content: "\e914"; }
.fi-map:before { content: "\e915"; }
.fi-megamenu:before { content: "\e916"; }
.fi-calendar:before { content: "\e917"; }
.fi-double-angle-right:before { content: "\e918"; }
.fi-pro:before { content: "\e919"; }
.fi-user:before { content: "\e91a"; }
.fi-arrow-left:before { content: "\e91b"; }
.fi-arrow-right:before { content: "\e91c"; }
.fi-burger:before { content: "\e91d"; }
.fi-fullscreen:before { content: "\e91e"; }
.fi-article:before { content: "\e91f"; }
.fi-diaporama:before { content: "\e920"; }
.fi-dossier:before { content: "\e921"; }
.fi-infographie:before { content: "\e922"; }
.fi-video:before { content: "\e923"; }
.fi-mail:before { content: "\e924"; }
.fi-pause:before { content: "\e925"; }
.fi-play:before { content: "\e926"; }
.fi-share:before { content: "\e927"; }
.fi-repeat:before { content: "\e928"; }
.fi-comment:before { content: "\e929"; }
.fi-heart:before { content: "\e92a"; }
.fi-arrow-down:before { content: "\ea43"; }
.fi-arrow-up:before { content: "\ea44"; }
.fi-maximize:before { content: "\ea45"; }
.fi-minimize:before { content: "\ea46"; }
.fi-hygiaphone:before { content: "\ea57"; }
.fi-map-o:before { content: "\ea58"; }
.fi-quote:before { content: "\ea5a"; }
.fi-arrow-thin-left:before { content: "\ea5b"; }
.fi-arrow-thin-right:before { content: "\ea5c"; }
.fi-check-circle:before { content: "\ea5d"; }
.fi-distance:before { content: "\ea5e"; }
.fi-institut:before { content: "\ea5f"; }
.fi-student:before { content: "\ea60"; }
.fi-libre:before { content: "\ea61"; }
.fi-price:before { content: "\ea62"; }
.fi-add:before { content: "\ea01"; }
.fi-delete:before { content: "\ea02"; }
.fi-delivery:before { content: "\ea03"; }
.fi-gallery:before { content: "\ea04"; }
.fi-arrow-down-right:before { content: "\ea05"; }
.fi-cart:before { content: "\ea06"; }
.fi-credit-card:before { content: "\ea07"; }
.fi-flag:before { content: "\ea08"; }
.fi-compass:before { content: "\ea09"; }
.fi-configuration:before { content: "\ea0a"; }
.fi-drag-n-drop:before { content: "\ea0b"; }
.fi-export:before { content: "\ea0c"; }
.fi-filter:before { content: "\ea0d"; }
.fi-fullscreen-alt:before { content: "\ea0e"; }
.fi-geolocation:before { content: "\ea0f"; }
.fi-heart-full:before { content: "\ea10"; }
.fi-help:before { content: "\ea11"; }
.fi-import:before { content: "\ea12"; }
.fi-info:before { content: "\ea13"; }
.fi-layers:before { content: "\ea14"; }
.fi-legend:before { content: "\ea15"; }
.fi-like:before { content: "\ea16"; }
.fi-line:before { content: "\ea17"; }
.fi-lock:before { content: "\ea18"; }
.fi-map-alt:before { content: "\ea19"; }
.fi-map-background:before { content: "\ea1a"; }
.fi-mesure:before { content: "\ea1b"; }
.fi-model:before { content: "\ea1c"; }
.fi-new:before { content: "\ea1d"; }
.fi-notification:before { content: "\ea1e"; }
.fi-open:before { content: "\ea1f"; }
.fi-pencil:before { content: "\ea20"; }
.fi-point:before { content: "\ea21"; }
.fi-polygon:before { content: "\ea22"; }
.fi-print:before { content: "\ea23"; }
.fi-user-check:before { content: "\ea24"; }
.fi-properties:before { content: "\ea25"; }
.fi-reset:before { content: "\ea26"; }
.fi-save:before { content: "\ea27"; }
.fi-share-alt:before { content: "\ea28"; }
.fi-star-full:before { content: "\ea29"; }
.fi-star:before { content: "\ea2a"; }
.fi-support:before { content: "\ea2b"; }
.fi-tag:before { content: "\ea2c"; }
.fi-text:before { content: "\ea2d"; }
.fi-transparency:before { content: "\ea2e"; }
.fi-visible:before { content: "\ea2f"; }
.fi-disconnect:before { content: "\ea39"; }
.fi-formatting:before { content: "\ea3a"; }
.fi-list:before { content: "\ea3b"; }
.fi-shared:before { content: "\ea3c"; }
.fi-step:before { content: "\ea3d"; }
.fi-stop:before { content: "\ea3e"; }
.fi-storymap:before { content: "\ea3f"; }
.fi-tab:before { content: "\ea40"; }
.fi-table:before { content: "\ea41"; }
.fi-add-point:before { content: "\ea47"; }
.fi-author:before { content: "\ea48"; }
.fi-copy:before { content: "\ea49"; }
.fi-galerie:before { content: "\ea4a"; }
.fi-image:before { content: "\ea4b"; }
.fi-landscape:before { content: "\ea4c"; }
.fi-menu:before { content: "\ea4d"; }
.fi-move:before { content: "\ea4e"; }
.fi-moveto:before { content: "\ea4f"; }
.fi-portrait:before { content: "\ea50"; }
.fi-ribbon:before { content: "\ea51"; }
.fi-unlock:before { content: "\ea52"; }
.fi-unvisible:before { content: "\ea53"; }
.fi-galerie-image:before { content: "\ea54"; }
.fi-check-user:before { content: "\ea55"; }
.fi-simple-user:before { content: "\ea56"; }
.fi-distribute:before { content: "\ea59"; }
.fi-theme-agriculture:before { content: "\ea30"; }
.fi-theme-culture:before { content: "\ea31"; }
.fi-theme-developpement:before { content: "\ea32"; }
.fi-theme-economie:before { content: "\ea33"; }
.fi-theme-education:before { content: "\ea34"; }
.fi-theme-international:before { content: "\ea35"; }
.fi-theme-sante:before { content: "\ea36"; }
.fi-theme-societe:before { content: "\ea37"; }
.fi-theme-transports:before { content: "\ea38"; }
.fi-theme-innovation:before { content: "\ea42"; }